@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{


    .namesheader{
        width: 100px;
    }

    .titlespara{
        width: 120px;
        text-align: center;
    }
    @media(max-width:1000px){


        .section{
            overflow: scroll;
            height: 300px;
        }

        .top-holder{

            width: 1020px;
           
        }
        
    }

}